/*.carousel {
    height: 300px;
    width: 100%;
    background-color: white;
}

.slide {
    height: 300px;
}
*/

img.carousel.image {
    height: 100%;
    width: 100%;
}

img.lighten {
    filter: brightness(150%);
}

img.darken {
    filter: brightness(50%);
}

.carousel-caption {
    color: darkblue;
}

.slider {
    text-align: center;
}