<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <ngb-carousel class="carousel">
        <ng-template ngbSlide class="slide">
          <div class="picsum-img-wrapper">
            <img class="carousel-image" src="assets/accessibility2.png" alt="Accessibility Logo">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide class="slide">
          <div class="picsum-img-wrapper">
            <img class="carousel-image darken" src="assets/accessibility2.png" alt="Screen Reader Logo">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide class="slide">
          <div class="picsum-img-wrapper">
            <img class="carousel-image-lighten" src="assets/accessibility2.png" alt=" Web Accessibility Logo">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<div class="slider">
  <h2>Brightness</h2>
  0%<mat-slider min="1" max="100" step="1" value="1"></mat-slider>100%
</div>

