/* You can add global styles to this file, and also import other style files */

.carousel {
    height: 300px;
    width: 100%;
}

.slide {
    height: 300px;
}

img.carousel.image {
    height: 100%;
    width: 100%;
}

img.lighten {
    filter: brightness(150%);
}

img.darken {
    filter: brightness(50%);
}

.carousel-caption {
    color: darkblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
