<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">First</a>
    <a class="navbar-brand" href="#">Second</a>
 </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <ngb-carousel class="carousel" #ourCarousel>
        <ng-template ngbSlide id="first">
          <div class="picsum-img-wrapper slide">
            <img class="carousel-image" src="assets/AccessibilityLogo.png" alt="Accessibility Logo">
          </div>
          <div class="carousel-caption">
            <h3>Welcome!</h3>
            <p>Accessibility is our Passion.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="second">
          <div class="picsum-img-wrapper slide">
            <img class="carousel-image darken" src="assets/ScreenReader2.png" alt="Person With Screen Reader">
          </div>
          <div class="carousel-caption">
            <h3>Screen Readers</h3>
            <p>Everyone deserves access to the Internet and its wealth of knowledge.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide id="third">
          <div class="picsum-img-wrapper slide">
            <img class="carousel-image lighten" src="assets/ScreenReader.jpg" alt="Screen Reader">
          </div>
          <div class="carousel-caption">
            <h3>Browse the Web</h3>
            <p>Let our product help you to live life to the fullest.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
<div class="row">
  <div class="slider col-8 offset-2">
    <h2>Brightness</h2>
    0%<mat-slider min="1" max="100" step="1" value="1" aria-label="Brightness Slider"></mat-slider>100%
  </div>
</div>
